<div class="fondo">

    <h1 style="font-family: Agatha;">Agenda</h1>



    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Sistema</th>
                <th scope="col">Acronimo</th>
            </tr>

        </thead>

        <tbody [@listAnimation]="list.length">
            <tr *ngFor="let item of list">
                <td>{{ item.id}}</td>
                <td>{{ item.nomb_sistema}}</td>
                <td>{{ item.alias_sistema}}</td>
            </tr>
        </tbody>
    </table>

    <div class="circleBottom"></div>

    <ul>
        <li *ngFor="let clickedRow of clickedRows">
            Clicked on {{clickedRow.nomb_sistema}}
        </li>
    </ul>

</div>